<h1>All articles</h1>

<% articles.forEach(function(article) { %>
<div class="row">
  <div class="col-xs-12">
    <p>
    Title:
      <a href="/articles/<%= article.id %>">
        <%= article.title %>
      </a>
    </p>
    <p>Body: <%= article.body %></p>
    <br>
    <a href="#">Edit</a> |
    <a href="/articles/<%= article.id %>" class="delete-link">Delete</a>
  </div>
</div>
<hr>
<% }); %>
