<p>show article<p>
<!-- <p><%= articles.length %><p/> -->
<p>show all article<p>

<% articles.forEach(function(article) { %>
<div class="row">
  <div class="col-xs-12">
    <p>
    Title:
      <a href="/articles/<%= article.id %>">
        <%= article.title %>
      </a>
    </p>
    <p>Body: <%= article.body %></p>
  </div>
</div>
<hr>
<% }); %>
