<h2 class="text-center">Add a new article</h2>

<form class="form" method="post" action="/articles">
  <div class="form-group">
    <label for="title">Title:</label>
    <input type="text" name="title" id="title" class="form-control" placeholder="Type the Title">
  </div>
  <div class="form-group">
    <label for="body">Body:</label>
    <input type="text" name="body" id="body" class="form-control" placeholder="Type the body text here">
  </div>
  <input type="submit" class="btn btn-success" value="Create Article">
</form>
