<div class="row">
  <div class="col-xs-12">
    <h1>List of articles</p>

    <% articles.forEach(function(article) { %>
    <div class="row">
      <div class="col-xs-12">
        <p>
        Title:
          <a href="/articles/index<%= article.id %>">
            <%= article.title %>
          </a>
        </p>
        <p>Body: <%= article.body %></p>
      </div>
    </div>
    <hr>
    <% }); %>

  </div>
</div>
